<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap" rel="stylesheet">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     
      <style>
        body {
          font-family: 'Pacifico', 'Lobster', cursive;
        }
      </style>
    </head>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <body class="teal lighten-3">
      <header class="">
        <h2 class="light-blue-text text-darken-4" style="margin: 0px;"> THunt Course</h2>
      </header>
      <div class="container light-blue-text text-darken-4">
          {% block content %}{% endblock %}
      </div>
      <footer class="light-blue-text text-darken-4">
        Test Automation QTribe
      <footer>
          
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
  </html>
