{% extends "layout.html" %}

{%block headscripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='layers_style.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
<script src="{{ url_for('static', filename='OpenLayers.js') }}"></script>
<script src="{{ url_for('static', filename='accessible-click-control.js') }}"></script>
{% endblock %}

{% block content %}
<div class="card maincard">
    <div class="card-content">
        <div id="map" class="smallmap" tabindex="0"></div>
        <p id="desc">
            <ol>
                <li>Press tab or click to focus on map</li>
                <li>Press 'i' to activate the pointer</li>
                <li>Move pointer using keyboard arrow keys to INDIA or USA</li>
                <li>Click Proceed to go to next clue</li>
            </ol>
        </p>
        <div class="card-action">
            <div class="col s12 center-align">
                <form id="mapsChallengeForm" name="mapsChallengeForm" action="/r/maps" method="POST">
                    <input type="hidden" id="mapsChallengePath" name="mapsChallengePath"></input>
                </form>
                <button id="mapsChallengeSubmit" class="btn deep-orange darken-4">Proceed</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        init();
    });
    document.getElementById("mapsChallengeSubmit").onclick = function() {
        var xcoordinate = document.querySelector('[id^="OpenLayers_Geometry_Point_"]').getAttribute('cx');
        var ycoordinate = document.querySelector('[id^="OpenLayers_Geometry_Point_"]').getAttribute('cy');
        document.getElementById("mapsChallengePath").value = xcoordinate + "," + ycoordinate;
        document.getElementById("mapsChallengeForm").submit();
    }
</script>
{% endblock %}
