{% extends "layout.html" %}
{% block content %}
<div class="row center-align">
  <div class="col s12">
      <div class="card amber lighten-4">
        <div class="card-content">
          <span class="card-title"><h3>Congratulations!! You Found the Treasure</h3></span>
          <p style="">
          Thank you for Participating. Please submit your bot code and video in the submissions links provided in <a href="https://teams.microsoft.com/l/channel/19%3a934869e9f2f0411a9e13e0bc14de8334%40thread.skype/Qualithon%2520-%2520Information%2520and%2520Support?groupId=b877faf9-765d-4e74-affa-bb80557cbf34&tenantId=6be5b754-cbd2-4393-9dc2-d7050d353c69">Qualithon - Information and Support</a> teams channel
          </p>
          <br />
          <img src="/static/treasure.png" style="height: 250px;" />
          <br />
        </div>
      </div>
    </div>
</div>
<script>
  $(".bct").hide();
  $(".bctrow").hide();
</script>
{% endblock %}
