{% extends "layout.html" %}
{% block content %}
<div class="row center-align">
  <div class="col s12">
      <div class="card amber lighten-4">
        <div class="card-content">
          <span class="card-title"><h2>You Found the Treasure</h2></span>
          <p style="font-size: 1.5em;">
            Hunt is over. You found the Treasure. Thank you for Participating.
          </p>
          <br />
          <img src="/static/treasure.png" />
          <br />
        </div>
      </div>
    </div>
</div>
<script>
</script>
</script>
{% endblock %}
