{% extends "layout.html" %}
{% block content %}
<div class="row center-align">
  <div class="col s12">
    <div class="card errorcard">
        <div class="card-content white-text">
          <span class="card-title"><h2>Validation Error - 400</h2></span>
          <p>
            Page validation failed. Did you follow page links to reach this page?
          </p>
        </div>
        <div class="card-action">
          <button class="waves-effect waves-light btn" onclick="window.location='/c/{{checkpoint_page_id}}';">Resume from checkpoint</button>
          <button class="waves-effect waves-light btn" onclick="window.location='/start';">Restart from begining</button>
        </div>
      </div>
  </div>
  <script>
    $(".bct").hide();
  </script>
</div>
{% endblock %}
